.input {
    background: none;
    color: #303030;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: 1px solid #757575;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input:focus {
    outline: none;
    border:none;
    box-shadow: 0 0 5px 2px #4B91F7; 
  }